@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --color-primario: #ff6347;
    --color-fondo: #f0f0f0;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-borde: #ddd;
    --color-focus: #ff4500;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo);
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-blanco);
    padding: 45px;
    margin: 20px;
    border: 1px solid var(--color-borde);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
    color: var(--color-primario);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 28px;
    margin-bottom: 10px;
}

.login-form h2 {
    color: var(--color-texto);
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    color: var(--color-texto);
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-borde);
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
}

input:focus {
  outline: none; 
  border: 2px solid var(--color-focus); 
}


button {
    padding: 10px;
    color: var(--color-blanco);
    background-color: var(--color-primario);
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: var(--color-focus);
}

.registro {
    margin: 10px;
    padding: 5px;
    font-size: 13px;
}

.registro a {
    color: var(--color-primario);
    font-weight: bold;
}

.registro a:hover {
    color: var(--color-focus);
}